@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://use.typekit.net/ugc3qny.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 600;
}

.page-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.navbar {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  width: 100%;
  max-width: 1582px;
  padding: 32px 96px 0 96px;
  width: 100%;
  max-width: 1582px;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* .navbar-content {
  padding: 32px 96px 0 96px;
  width: 100%;
  max-width: 1582px;
  display: flex;
  justify-content: space-between;
} */

.navbar .right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 64px;
}

.navbar .right .links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.navbar .right .links a {
  text-decoration: none;
  color: #808080;
}

.navbar .right .links.highlighted a {
  color: #000000;
}

.fixed-item {
  position: fixed;
  top: 20%;
  right: 20%;
  z-index: 2;
  width: 192px;
  height: 192px;
}

.fixed-item .text {
  position: absolute;
}

.hero {
  width: 100%;
  max-width: 1064px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 192px;
  flex-direction: column;
}

.hero .top {
  width: 100%;
  display: flex;
  justify-content: start;
}

.hero .top h1 {
  white-space: pre;
  font-size: 64px;
  line-height: 100%;
  margin: 0;
}

.hero .bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  margin-top: 192px;
}

.hero .bottom .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 48px;
  line-height: 110%;
  margin: 0;
}

.hero .bottom h2 {
  position: absolute;
  background-image: linear-gradient(
    to bottom right,
    #ffffff,
    rgba(255, 255, 255, 0.75)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre;
  letter-spacing: 0.05em;
}

.info-section {
  width: 100%;
  max-width: 1264px;
  margin-top: 192px;
  white-space: pre;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.article-section {
  margin-top: 256px;
  width: 100%;
  max-width: 1327px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.article-section.left .text {
  margin-right: 256px;
}

.article-section.right .text {
  margin-left: 256px;
}

.article-section .text .header {
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0.05em;
  white-space: pre;
}

.article-section .text .description {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin-top: 16px;
}

.services {
  margin-top: 256px;
}

.services h2 {
  text-align: center;
}

.services .lists {
  display: grid;
  grid-template-columns: auto auto;
  gap: 128px;
  margin-top: 32px;
}

.services .lists .list {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 12px;
}

.services .lists .list .heading {
  font-size: 24px;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #808080;
}

.services .lists .list .service {
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #000000;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
  margin-top: 256px;
}

.footer {
  width: 100%;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.footer .text {
  padding: 64px;
}

.footer .text .second {
  color: #808080;
  margin-top: 8px;
}

@media screen and (max-width: 1742px) {
  .hero .bottom {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
