@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://use.typekit.net/ugc3qny.css');

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 600;
}

.page-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.navbar {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  width: 100%;
  max-width: 1582px;
  padding: 32px 96px 0 96px;
  max-width: 1582px;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar .right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 64px;
}

.navbar .right .links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.navbar .right .links a {
  text-decoration: none;
  color: #808080;
}

.navbar .right .links.highlighted a {
  color: #000000;
}

.fixed-item {
  position: fixed;
  top: 20%;
  right: 20%;
  z-index: 2;
  width: 192px;
  height: 192px;
}

.fixed-item .text {
  position: absolute;
}

h1 {
  font-size: 64px;
  line-height: 100%;
  color: #000000;
  margin: 0;
}

.hero {
  width: 100%;
  max-width: 1064px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 192px;
  flex-direction: column;
}

.hero .top {
  width: 100%;
  display: flex;
  justify-content: start;
}

.hero .top h1 {
  white-space: pre;
  margin: 0 32px 0 32px;
}

.hero .bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  margin-top: 192px;
}

.hero .bottom .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 48px;
  line-height: 110%;
  margin: 0;
  text-align: center;
}

.hero .bottom h2 {
  position: absolute;
  background-image: linear-gradient(
    to bottom right,
    #ffffff,
    rgba(255, 255, 255, 0.75)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre;
  letter-spacing: 0.05em;
}

.info-section {
  width: 100%;
  max-width: 1264px;
  margin-top: 192px;
  /* margin: 192px 48px 0 48px; */
  white-space: pre;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.article-section {
  margin-top: 128px;
  width: 100%;
  max-width: 1327px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.article-section .text {
  text-decoration: none;
  color: #000000;
}

.article-section.left .text {
  margin-right: 256px;
}

.article-section.right .text {
  margin-left: 256px;
}

.article-section .text .header {
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0.05em;
  white-space: pre;
  /* margin: 0 32px 0 32px; */
}

.article-section .text .description {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin-top: 16px;
}

.services {
  margin: 256px 32px 0 32px;
  /* text-align: center; */
}

.services h2 {
  text-align: center;
}

.services .lists {
  display: grid;
  grid-template-columns: auto auto;
  gap: 128px;
  margin-top: 32px;
}

.services .lists .list {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 12px;
}

.intro-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #808080;
}

.services .lists .list .service {
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #000000;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
  margin-top: 256px;
}

.footer {
  width: 100%;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.footer .text {
  padding: 64px;
}

.footer .text .second {
  color: #808080;
  margin-top: 8px;
}

.article-header {
  width: 100%;
  max-width: 1582px;
  margin-top: 128px;
  padding: 0 96px 0 96px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.article-header h1 {
  margin-top: 16px;
}

.article-header .intro {
  margin-top: 24px;
  font-weight: normal;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0.05em;
  max-width: 962px;
}

.article-images {
  margin-top: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-images img {
  margin-bottom: 64px;
  width: 100%;
  height: auto;
  max-width: 1390px;
}

@media screen and (max-width: 1742px) {
  .hero .bottom {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 1380px) {
  .article-section {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }

  .article-section.left .text {
    margin-right: 0;
    margin-bottom: 64px;
    text-align: center;
  }

  .article-section.right .text {
    margin-left: 0;
    margin-top: 64px;
    text-align: center;
  }

  .info-section {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .fixed-item {
    top: 70%;
    right: 0%;
  }

  .fixed-item img {
    width: 128px;
    height: 128px;
  }
}

@media screen and (max-width: 900px) {
  .article-section img {
    width: 100%;
    height: auto;
  }

  .navbar {
    display: grid;
    grid-template-rows: auto auto;
    gap: 16px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  .hero .top h1 {
    white-space: normal;
  }

  .info-section {
    white-space: normal;
    padding: 0 32px 0 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .fixed-item {
    top: 80%;
    right: -5%;
  }

  .fixed-item img {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 700px) {
  .hero .bottom .image img {
    width: 100%;
    height: auto;
  }

  .services .lists {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    gap: 48px;
  }

  .services .lists .list {
    justify-items: center;
  }

  .footer .text .second {
    white-space: normal;
    word-break: break-all;
  }

  .hero .bottom {
    margin: 96px 32px 0 32px;
  }

  .article-section {
    margin: 128px 32px 0 32px;
  }
}

@media screen and (max-width: 600px) {
  .footer .text {
    padding: 64px 64px 96px 64px;
  }

  .fixed-item {
    top: 82.5%;
    right: -15%;
  }

  .navbar .right .links {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
  }

  .navbar .right {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 32px;
  }

  .hero {
    margin-top: 96px;
  }
}

@media screen and (max-width: 450px) {
  .image h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .hero .top h1 {
    font-size: 56px;
    margin: 0 14px 0 14px;
  }

  .article-section .text {
    white-space: normal;
    word-break: break-all;
    margin: 0 4px 0 4px;
  }

  .services {
    text-align: center;
  }

  .hero {
    margin-top: 48px;
  }

  .fixed-item {
    top: 82.5%;
    right: -20%;
  }
}
